{% extends 'base.html' %}
{% block content %}
    <div id="laptop-detail">
        <h1>{{ laptop.name }}</h1>
        <p>ფასი: {{ laptop.price }} ლარი</p>
        <p>ხელმისაწვდომია: {{ laptop.stock }} ცალი</p>
        <p>მაღაზია: {{ laptop.store.name }}</p>
        <h2>ყიდვა</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="შეკვეთა">
        </form>
        <a href="{% url 'laptop_update' laptop.pk %}">რედაქტირება</a> |
        <a href="{% url 'laptop_delete' laptop.pk %}">წაშლა</a>
    </div>
{% endblock %}